/* ProductCard.css */
/* .product-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    max-width: 300px;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  } */
  
  /* ProductCard.css */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  width: calc(33.33% - 32px); /* Three cards per row with spacing */
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
 
}

.product-image {
  max-width: 100%;
  /* height: auto; */
  margin-bottom: 10px;
  height: 16em;
  /* object-fit: cover; */
}
.title{
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}
.price {
  color: grey;
  padding-top: 4px;
  font-size: 19px;
}
